body {
    background-color: whitesmoke;
}

.txt {
    position: relative;
    text-align: center;
    font-size: 60pt;
    margin-top: 15%;
    font-family: 'Press Start 2P', cursive;
    animation: blink 0.75s infinite;
}

.btntxt {
    position: absolute;    
    margin-left: 43%;
    margin-top: 15pt;
    border: 1pt solid black;
    padding: 2%;
    background: rgb(255, 251, 0);
    font-size: 20pt;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    
}

@keyframes blink {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
