

@media screen and (max-width: 768px){


.q {
    text-align: center;
    background:rgb(131, 160, 252);
}

.awrapper {
    text-align: center;

}}

@media screen and (min-width: 768px){

.q {
    text-align: center;
    background: #db7483;
}   

.awrapper {
    text-align: center;
}


























































/* 



body {
    background:whitesmoke;
    padding: 0;
    margin: 0;
}

.q {
    text-align: center;
    background:rgb(131, 160, 252);
}

.awrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}



label{
    color:#ce6fd6;
    border: 3px solid #db7483;
    padding: 1.5%;
    border-radius: 15%;
}


}


@media screen and (min-width: 768px){

    body {
        background:whitesmoke;
        padding: 0;
        margin: 0;
    }
    
    .q {
        text-align: center;
        background:rgb(131, 160, 252);
        margin-top: 15%;
    }

    
    .awrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    .a {
        margin-top: 2.5%;
        display: none;
        animation: shake 1s;        
    }
    
    label{
        color:#ce6fd6;
        border: 3px solid #db7483;
        padding: 1.5%;
        border-radius: 15%;
    }
    
    
}
@media screen and (min-width: 1366px){
      
    body {
        background:whitesmoke;
        padding: 0;
        margin: 0;
    }
    
    .q {
        text-align: center;
        background:rgb(131, 160, 252);
    }
    
    .awrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    
    
    label{
        color:#ce6fd6;
        border: 3px solid #db7483;
        padding: 1.5%;
        border-radius: 15%;
    }
    
    
    }
    


 */
